@model AdventureChallenge.Models.Challenge

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Challenge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tijdstip" class="control-label"></label>
                <select asp-for="Tijdstip" class="form-control">
                    <option value="'s Ochtends">'s Ochtends</option>
                    <option value="'s Middags">'s Middags</option>
                    <option value="'s Avonds">'s Avonds</option>
                    <option value="'s Nachts">'s Nachts</option>
                </select>
                <span asp-validation-for="Tijdstip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personen" class="control-label"></label>
                <select asp-for="Personen" class="form-control">
                    <option value="1">1 persoon</option>
                    <option value="2">2 personen</option>
                    <option value="3-4">3-4 personen</option>
                    <option value=">4">>4 personen</option>
                </select>
                <span asp-validation-for="Personen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Keuring">Keuring</option>
                    <option value="Actief">Actief</option>
                    <option value="Afgekeurd">Afgekeurd</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tijdduur" class="control-label">Tijds duur in uren</label>
                <input asp-for="Tijdduur" class="form-control" type="number" min="0.50" step="0.5"/>
                <span asp-validation-for="Tijdduur" class="text-danger"></span>
            </div>
            <div class="form-group" id="button">
                <textarea asp-for="Opdracht" class="form-control" placeholder="Schrijf hier de challenge opdracht..."></textarea>
                <span asp-validation-for="Opdracht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
