@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">How it works</h1>
</div>

<div class="row justify-content-md-center" id="introRegel">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
        <img class="introimg" src="~/img/fotoIcon.png">
    </div>
    <div class="col-sm-6">
        <h3 class="text-center">No take backs</h3>
        <p class="text-center">Als je een challenge zoekt zit je vast aan de challeng die je als eerst vind. Eenmaal gestart moet de challenge afgemaakt worden!</p>
    </div>
</div>

<div class="row justify-content-md-center" id="introRegel">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
        <img class="introimg" src="~/img/fotoIcon.png">
    </div>
    <div class="col-sm-6">
        <h3 class="text-center">No take backs</h3>
        <p class="text-center">Als je een challenge zoekt zit je vast aan de challeng die je als eerst vind. Eenmaal gestart moet de challenge afgemaakt worden!</p>
    </div>
</div>

<div class="row justify-content-md-center" id="introRegel">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
        <img class="introimg" src="~/img/fotoIcon.png">
    </div>
    <div class="col-sm-6">
        <h3 class="text-center">No take backs</h3>
        <p class="text-center">Als je een challenge zoekt zit je vast aan de challeng die je als eerst vind. Eenmaal gestart moet de challenge afgemaakt worden!</p>
    </div>
</div>


<div class="row justify-content-md-center" style="margin-top:70px">
    <div class="col-sm-6 text-center">
        <a class="btn btn-primary" id="button" role="button" asp-area="" asp-controller="Challenge" asp-action="Search">Start</a>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6 text-center">
        <a class="btn btn-primary" id="button" role="button" asp-area="" asp-controller="Challenge" asp-action="Create">Maak een challenge</a>
    </div>
</div>







